In [1]:
import pandas as pd
data=pd.read_csv('telecom_customer_churn.csv')

In [3]:
data.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,1,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,1,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,0,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,0,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,0,Dissatisfaction,Network reliability

In [5]:
import numpy as np

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589 entries, 0 to 6588
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        6589 non-null   object
 1   Gender                             6589 non-null   object
 2   Age                                6589 non-null   int64
 3   Married                            6589 non-null   object
 4   Number of Dependents               6589 non-null   int64
 5   City                               6589 non-null   object
 6   Zip Code                           6589 non-null   int64
 7   Latitude                           6589 non-null   float64
 8   Longitude                          6589 non-null   float64
 9   Number of Referrals                6589 non-null   int64
 10  Tenure in Months                   6589 non-null   int64
 11  Offer                              6589 non-null   object
 12  Phone Service                      6589 non-null   object
 13  Avg Monthly Long Distance Charges  5945 non-null   float64
 14  Multiple Lines                     5945 non-null   object
 15  Internet Service                   6589 non-null   object
 16  Internet Type                      5245 non-null   object
 17  Avg Monthly GB Download            5245 non-null   float64
 18  Online Security                    5245 non-null   object
 19  Online Backup                      5245 non-null   object
 20  Device Protection Plan             5245 non-null   object
 21  Premium Tech Support               5245 non-null   object
 22  Streaming TV                       5245 non-null   object
 23  Streaming Movies                   5245 non-null   object
 24  Streaming Music                    5245 non-null   object
 25  Unlimited Data                     5245 non-null   object
 26  Contract                           6589 non-null   object
 27  Paperless Billing                  6589 non-null   object
 28  Payment Method                     6589 non-null   object
 29  Monthly Charge                     6589 non-null   float64
 30  Total Charges                      6589 non-null   float64
 31  Total Refunds                      6589 non-null   float64
 32  Total Extra Data Charges           6589 non-null   int64
 33  Total Long Distance Charges        6589 non-null   float64
 34  Total Revenue                      6589 non-null   float64
 35  Customer Status                    6589 non-null   int64
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(7), object(22)
memory usage: 1.9+ MB

In [9]:
data.describe()

,Age,Number of Dependents,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status
count,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,5945.000000,5245.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000
mean,46.760510,0.476097,93491.504477,36.199761,-119.757670,2.020944,34.499772,25.496246,26.225929,65.030695,2432.042243,2.080938,7.169525,798.087251,3235.218082,0.716345
std,16.841362,0.968499,1857.575392,2.472459,2.155696,3.024016,23.968734,14.198424,19.565724,31.100727,2265.500080,8.125054,25.803163,853.767972,2854.600036,0.450805
min,19.000000,0.000000,90001.000000,32.555828,-124.301372,0.000000,1.000000,1.010000,2.000000,-10.000000,18.850000,0.000000,0.000000,0.000000,21.610000,0.000000
25%,33.000000,0.000000,92103.000000,33.989524,-121.788090,0.000000,12.000000,13.140000,13.000000,35.800000,544.550000,0.000000,0.000000,106.680000,835.450000,0.000000
50%,46.000000,0.000000,93526.000000,36.245926,-119.601370,0.000000,32.000000,25.720000,21.000000,71.050000,1563.900000,0.000000,0.000000,472.680000,2376.450000,1.000000
75%,60.000000,0.000000,95333.000000,38.169605,-117.967399,3.000000,57.000000,37.690000,30.000000,90.400000,4003.000000,0.000000,0.000000,1275.120000,5106.640000,1.000000
max,80.000000,9.000000,96150.000000,41.962127,-114.192901,11.000000,72.000000,49.990000,85.000000,118.750000,8684.800000,49.790000,150.000000,3564.720000,11979.340000,1.000000

# finding number of null values

In [11]:
no_of_nul=list(data.isnull().sum())
nul_columns=list()

In [14]:
for i in range(len(no_of_nul)):
    if no_of_nul[i]!=0:
        nul_columns.append(data.columns[i])

In [16]:
nul_columns

['Avg Monthly Long Distance Charges',
 'Multiple Lines',
 'Internet Type',
 'Avg Monthly GB Download',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Churn Category',
 'Churn Reason',
 'Avg Monthly Long Distance Charges',
 'Multiple Lines',
 'Internet Type',
 'Avg Monthly GB Download',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Churn Category',
 'Churn Reason']

In [18]:
for i in nul_columns:
    print(i,'                                         ',data[i].dtypes)

Avg Monthly Long Distance Charges                                           float64
Multiple Lines                                           object
Internet Type                                           object
Avg Monthly GB Download                                           float64
Online Security                                           object
Online Backup                                           object
Device Protection Plan                                           object
Premium Tech Support                                           object
Streaming TV                                           object
Streaming Movies                                           object
Streaming Music                                           object
Unlimited Data                                           object
Churn Category                                           object
Churn Reason                                           object
Avg Monthly Long Distance Charges                                           float64
Multiple Lines                                           object
Internet Type                                           object
Avg Monthly GB Download                                           float64
Online Security                                           object
Online Backup                                           object
Device Protection Plan                                           object
Premium Tech Support                                           object
Streaming TV                                           object
Streaming Movies                                           object
Streaming Music                                           object
Unlimited Data                                           object
Churn Category                                           object
Churn Reason                                           object

In [ ]:
data=data.drop('Churn Reason',axis=1)

In [21]:
data=data.drop('Churn Category',axis=1)

# finding numerical columns

In [23]:
numerical_columns=data.select_dtypes(include=['int64','float64']).columns

In [25]:
numerical_columns

Index(['Age', 'Number of Dependents', 'Zip Code', 'Latitude', 'Longitude',
       'Number of Referrals', 'Tenure in Months',
       'Avg Monthly Long Distance Charges', 'Avg Monthly GB Download',
       'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Customer Status'],
      dtype='object')

# finding number of numerical null columns

In [27]:
numerical_nul_columns = []

for i in range(len(numerical_columns)):
        print(data[numerical_columns[i]].isnull().sum())
        if data[numerical_columns[i]].isnull().sum() != 0:
               numerical_nul_columns.append(numerical_columns[i])
        

numerical_nul_columns

0
0
0
0
0
0
0
644
1344
0
0
0
0
0
0
0

['Avg Monthly Long Distance Charges', 'Avg Monthly GB Download']

In [29]:
numerical_nul_columns

['Avg Monthly Long Distance Charges', 'Avg Monthly GB Download']

# filling or replacing null values with appropriate values in numerical_nul_columns

In [31]:
data['Avg Monthly Long Distance Charges'].describe()

count    5945.000000
mean       25.496246
std        14.198424
min         1.010000
25%        13.140000
50%        25.720000
75%        37.690000
max        49.990000
Name: Avg Monthly Long Distance Charges, dtype: float64

In [33]:
data['Avg Monthly GB Download'].describe()

count    5245.000000
mean       26.225929
std        19.565724
min         2.000000
25%        13.000000
50%        21.000000
75%        30.000000
max        85.000000
Name: Avg Monthly GB Download, dtype: float64

In [35]:
data['Avg Monthly GB Download'].value_counts()

19.0    213
27.0    189
30.0    188
59.0    182
26.0    178
23.0    174
18.0    161
22.0    161
21.0    160
13.0    154
16.0    150
20.0    146
17.0    145
28.0    142
24.0    141
11.0    139
12.0    135
29.0    132
15.0    126
3.0     126
10.0    124
4.0     121
25.0    120
8.0     117
14.0    117
52.0    115
7.0     110
6.0     109
2.0     108
9.0     107
5.0     106
51.0     86
53.0     83
48.0     80
73.0     77
69.0     71
41.0     65
76.0     55
85.0     46
58.0     45
42.0     44
82.0     40
71.0     39
47.0     36
57.0     34
46.0     18
56.0     15
75.0     14
39.0      1
Name: Avg Monthly GB Download, dtype: int64

In [37]:
data['Avg Monthly Long Distance Charges'].value_counts()

34.49    6
18.26    6
27.97    6
10.11    6
18.42    6
        ..
22.26    1
47.03    1
42.21    1
37.92    1
2.01     1
Name: Avg Monthly Long Distance Charges, Length: 3451, dtype: int64

In [38]:
data=data.drop('Avg Monthly Long Distance Charges',axis=1)

In [40]:
data=data.drop('Avg Monthly GB Download',axis=1)

# Categorical null value columns

In [41]:
non_numerical_columns=data.select_dtypes(include=['object']).columns
len(non_numerical_columns)

20

In [42]:
non_numerical_nul_columns = []
for i in range(len(non_numerical_columns)):
    print(data[non_numerical_columns[i]].isnull().sum())
    if data[non_numerical_columns[i]].isnull().sum() != 0:
        non_numerical_nul_columns.append(non_numerical_columns[i])
        
    
non_numerical_nul_columns

0
0
0
0
0
0
644
0
1344
1344
1344
1344
1344
1344
1344
1344
1344
0
0
0

['Multiple Lines',
 'Internet Type',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data']

# Analysing non numerical null colums to drop or fill null with appropriate values

In [43]:
for i in non_numerical_nul_columns:
    print(data[i].value_counts())
    print()

No     3019
Yes    2926
Name: Multiple Lines, dtype: int64

Fiber Optic    2934
DSL            1537
Cable           774
Name: Internet Type, dtype: int64

No     3272
Yes    1973
Name: Online Security, dtype: int64

No     2870
Yes    2375
Name: Online Backup, dtype: int64

No     2855
Yes    2390
Name: Device Protection Plan, dtype: int64

No     3248
Yes    1997
Name: Premium Tech Support, dtype: int64

Yes    2658
No     2587
Name: Streaming TV, dtype: int64

Yes    2683
No     2562
Name: Streaming Movies, dtype: int64

No     2809
Yes    2436
Name: Streaming Music, dtype: int64

Yes    4521
No      724
Name: Unlimited Data, dtype: int64

In [54]:
dropping_list=['City','Zip Code','Latitude','Longitude','Phone Service','Offer','Total Extra Data Charges','Customer ID',
              'Unlimited Data','Payment Method','Number of Referrals','Number of Dependents','City']

In [59]:
data["Premium Tech Support"].value_counts()

No     3248
Yes    1997
Name: Premium Tech Support, dtype: int64

In [55]:
data=data.drop(columns=dropping_list)

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589 entries, 0 to 6588
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       6589 non-null   object
 1   Age                          6589 non-null   int64
 2   Married                      6589 non-null   object
 3   Tenure in Months             6589 non-null   int64
 4   Multiple Lines               5945 non-null   object
 5   Internet Service             6589 non-null   object
 6   Internet Type                5245 non-null   object
 7   Online Security              5245 non-null   object
 8   Online Backup                5245 non-null   object
 9   Device Protection Plan       5245 non-null   object
 10  Premium Tech Support         5245 non-null   object
 11  Streaming TV                 5245 non-null   object
 12  Streaming Movies             5245 non-null   object
 13  Streaming Music              5245 non-null   object
 14  Contract                     6589 non-null   object
 15  Paperless Billing            6589 non-null   object
 16  Monthly Charge               6589 non-null   float64
 17  Total Charges                6589 non-null   float64
 18  Total Refunds                6589 non-null   float64
 19  Total Long Distance Charges  6589 non-null   float64
 20  Total Revenue                6589 non-null   float64
 21  Customer Status              6589 non-null   int64
dtypes: float64(5), int64(3), object(14)
memory usage: 1.1+ MB

# finding corelation between target column and other numerical column and removing the columns that has correlation coefficient less than 0.5

In [60]:
numerical_columns2=data.select_dtypes(include=['int64','float64']).columns

In [63]:
numerical_columns2

Index(['Age', 'Tenure in Months', 'Monthly Charge', 'Total Charges',
       'Total Refunds', 'Total Long Distance Charges', 'Total Revenue',
       'Customer Status'],
      dtype='object')

In [64]:
numerical_columns2 = numerical_columns2[:-1]

In [71]:
len(numerical_columns2)

7

In [67]:
s='Customer Status'
value=list()
for i in numerical_columns2:
    value.append(abs(data[i].corr(data[s])))

In [68]:
keys=numerical_columns2
values=value
correlation_dict={}

correlation_dict=dict(zip(keys, values))
print(correlation_dict)

{'Age': 0.11117376177748765, 'Tenure in Months': 0.433758867381682, 'Monthly Charge': 0.1682896477122819, 'Total Charges': 0.25007127037504073, 'Total Refunds': 0.0435252746694996, 'Total Long Distance Charges': 0.2684296975885968, 'Total Revenue': 0.27862614275734837}

In [73]:
above_corr_0_5=[key for key,value in correlation_dict.items() if value>0.5]
print(above_corr_0_5)

[]

In [74]:
below_corr_0_5=[key for key,value in correlation_dict.items() if value<0.5]
print(below_corr_0_5)

['Age', 'Tenure in Months', 'Monthly Charge', 'Total Charges', 'Total Refunds', 'Total Long Distance Charges', 'Total Revenue']

In [75]:
data=data.drop(columns=below_corr_0_5)

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589 entries, 0 to 6588
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  6589 non-null   object
 1   Married                 6589 non-null   object
 2   Multiple Lines          5945 non-null   object
 3   Internet Service        6589 non-null   object
 4   Internet Type           5245 non-null   object
 5   Online Security         5245 non-null   object
 6   Online Backup           5245 non-null   object
 7   Device Protection Plan  5245 non-null   object
 8   Premium Tech Support    5245 non-null   object
 9   Streaming TV            5245 non-null   object
 10  Streaming Movies        5245 non-null   object
 11  Streaming Music         5245 non-null   object
 12  Contract                6589 non-null   object
 13  Paperless Billing       6589 non-null   object
 14  Customer Status         6589 non-null   int64
dtypes: int64(1), object(14)
memory usage: 772.3+ KB

# Filling and droping non numerical columns that has null values continuation

In [77]:
data['Multiple Lines'].fillna(method='ffill', inplace=True)

In [78]:
data=data.drop('Internet Type', axis=1)

In [79]:
data['Online Security'].fillna(method='ffill', inplace=True)

In [80]:
data['Online Backup'].fillna(method='ffill', inplace=True)

In [81]:
data['Device Protection Plan'].fillna(method='ffill', inplace=True)

In [92]:
data['Streaming Movies'].value_counts()

Yes    3374
No     3215
Name: Streaming Movies, dtype: int64

In [85]:
data['Premium Tech Support'].fillna(method='ffill', inplace=True)

In [88]:
data['Streaming TV'].fillna(method='ffill', inplace=True)

In [91]:
data['Streaming Movies'].fillna(method='ffill', inplace=True)

In [94]:
data=data.drop('Contract', axis=1)

In [96]:
data['Streaming Music'].fillna(method='ffill', inplace=True)

In [98]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589 entries, 0 to 6588
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  6589 non-null   object
 1   Married                 6589 non-null   object
 2   Multiple Lines          6589 non-null   object
 3   Internet Service        6589 non-null   object
 4   Online Security         6589 non-null   object
 5   Online Backup           6589 non-null   object
 6   Device Protection Plan  6589 non-null   object
 7   Premium Tech Support    6589 non-null   object
 8   Streaming TV            6589 non-null   object
 9   Streaming Movies        6589 non-null   object
 10  Streaming Music         6589 non-null   object
 11  Paperless Billing       6589 non-null   object
 12  Customer Status         6589 non-null   int64
dtypes: int64(1), object(12)
memory usage: 669.3+ KB

# Perform label encoding

In [104]:
non_numerical_columns2=data.select_dtypes(include=['object']).columns

In [105]:
print(non_numerical_columns2)
len(non_numerical_columns2)

Index(['Gender', 'Married', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Paperless Billing'],
      dtype='object')

12

In [106]:
data1=data
len(data1.columns)

13

In [108]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for column in non_numerical_columns2:
    data1[column + '_LabelEncoded']=label_encoder.fit_transform(data1[column])
    data1=data1.drop(column,axis=1)
print(data1)

      Customer Status  Gender_LabelEncoded  Married_LabelEncoded  \
0                   1                    0                     1
1                   1                    1                     0
2                   0                    1                     0
3                   0                    1                     1
4                   0                    0                     1
...               ...                  ...                   ...
6584                0                    0                     0
6585                1                    0                     0
6586                0                    1                     1
6587                1                    1                     1
6588                1                    1                     1

      Multiple Lines_LabelEncoded  Internet Service_LabelEncoded  \
0                               0                              1
1                               1                              1
2                               0                              1
3                               0                              1
4                               0                              1
...                           ...                            ...
6584                            0                              0
6585                            0                              1
6586                            1                              1
6587                            0                              1
6588                            0                              1

      Online Security_LabelEncoded  Online Backup_LabelEncoded  \
0                                0                           1
1                                0                           0
2                                0                           0
3                                0                           1
4                                0                           0
...                            ...                         ...
6584                             0                           0
6585                             1                           0
6586                             0                           0
6587                             1                           0
6588                             1                           1

      Device Protection Plan_LabelEncoded  Premium Tech Support_LabelEncoded  \
0                                       0                                  1
1                                       0                                  0
2                                       1                                  0
3                                       1                                  0
4                                       0                                  1
...                                   ...                                ...
6584                                    0                                  0
6585                                    0                                  1
6586                                    0                                  0
6587                                    1                                  1
6588                                    1                                  0

      Streaming TV_LabelEncoded  Streaming Movies_LabelEncoded  \
0                             1                              0
1                             0                              1
2                             0                              0
3                             1                              1
4                             1                              0
...                         ...                            ...
6584                          0                              0
6585                          0                              0
6586                          0                              1
6587                          0                              1
6588                          1                              1

      Streaming Music_LabelEncoded  Paperless Billing_LabelEncoded
0                                0                               1
1                                1                               0
2                                0                               1
3                                0                               1
4                                0                               1
...                            ...                             ...
6584                             0                               0
6585                             1                               0
6586                             1                               1
6587                             1                               0
6588                             1                               0

[6589 rows x 13 columns]

In [109]:
data1.head()

,Customer Status,Gender_LabelEncoded,Married_LabelEncoded,Multiple Lines_LabelEncoded,Internet Service_LabelEncoded,Online Security_LabelEncoded,Online Backup_LabelEncoded,Device Protection Plan_LabelEncoded,Premium Tech Support_LabelEncoded,Streaming TV_LabelEncoded,Streaming Movies_LabelEncoded,Streaming Music_LabelEncoded,Paperless Billing_LabelEncoded
0,1,0,1,0,1,0,1,0,1,1,0,0,1
1,1,1,0,1,1,0,0,0,0,0,1,1,0
2,0,1,0,0,1,0,0,1,0,0,0,0,1
3,0,1,1,0,1,0,1,1,0,1,1,0,1
4,0,0,1,0,1,0,0,0,1,1,0,0,1

# Rearrange the column for quick processing

In [110]:
column_to_move='Customer Status'
columns_except_target=[col for col in data1.columns if col!=column_to_move]
data1=data1[columns_except_target + [column_to_move]]
print(data1)

      Gender_LabelEncoded  Married_LabelEncoded  Multiple Lines_LabelEncoded  \
0                       0                     1                            0
1                       1                     0                            1
2                       1                     0                            0
3                       1                     1                            0
4                       0                     1                            0
...                   ...                   ...                          ...
6584                    0                     0                            0
6585                    0                     0                            0
6586                    1                     1                            1
6587                    1                     1                            0
6588                    1                     1                            0

      Internet Service_LabelEncoded  Online Security_LabelEncoded  \
0                                 1                             0
1                                 1                             0
2                                 1                             0
3                                 1                             0
4                                 1                             0
...                             ...                           ...
6584                              0                             0
6585                              1                             1
6586                              1                             0
6587                              1                             1
6588                              1                             1

      Online Backup_LabelEncoded  Device Protection Plan_LabelEncoded  \
0                              1                                    0
1                              0                                    0
2                              0                                    1
3                              1                                    1
4                              0                                    0
...                          ...                                  ...
6584                           0                                    0
6585                           0                                    0
6586                           0                                    0
6587                           0                                    1
6588                           1                                    1

      Premium Tech Support_LabelEncoded  Streaming TV_LabelEncoded  \
0                                     1                          1
1                                     0                          0
2                                     0                          0
3                                     0                          1
4                                     1                          1
...                                 ...                        ...
6584                                  0                          0
6585                                  1                          0
6586                                  0                          0
6587                                  1                          0
6588                                  0                          1

      Streaming Movies_LabelEncoded  Streaming Music_LabelEncoded  \
0                                 0                             0
1                                 1                             1
2                                 0                             0
3                                 1                             0
4                                 0                             0
...                             ...                           ...
6584                              0                             0
6585                              0                             1
6586                              1                             1
6587                              1                             1
6588                              1                             1

      Paperless Billing_LabelEncoded  Customer Status
0                                  1                1
1                                  0                1
2                                  1                0
3                                  1                0
4                                  1                0
...                              ...              ...
6584                               0                0
6585                               0                1
6586                               1                0
6587                               0                1
6588                               0                1

[6589 rows x 13 columns]

In [114]:
len(data1.columns)

13

In [113]:
len(data1)

6589

# Segregate independent and dependent variables

In [115]:
x = data1.iloc[:,:-1].values
y = data1.iloc[:,-1].values

# Train - test split

In [116]:
from sklearn.model_selection import train_test_split

In [117]:
x_train,x_test,y_train,y_test = train_test_split(x,y,
 test_size=0.3)

In [118]:
from sklearn.linear_model import LogisticRegression
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [119]:
y_pred=reg.predict(x_test)
(y_test,y_pred)
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

confusion_matrix(y_test,y_pred)

array([[ 253,  298],
       [ 156, 1270]])

In [120]:
accuracy_score(y_test,y_pred)

0.7703591299949418

In [121]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.62      0.46      0.53       551\n           1       0.81      0.89      0.85      1426\n\n    accuracy                           0.77      1977\n   macro avg       0.71      0.67      0.69      1977\nweighted avg       0.76      0.77      0.76      1977\n'

In [122]:
import matplotlib.pyplot as plt